.container {
    margin: auto;
    text-align: center;
}

.name-input {
    margin: 1em;
    width: 30% !important;
    display: initial !important;
}

.join-global {
    padding: 1em;
    margin: 1em;
    margin-bottom: 1px;
    width: 25%;
}

.join-private {
    width: 25%;
}
